/*! style.css | Yes, this whole website is one html file */

/* Variables
   ========================================================================== */

:root {
    --black: #1c2e2e;
    --green: #0e6f79;
    --white: #eee8e0;
    --body: 1rem;
    --label: 1.25rem;
    --heading-2: 4rem;
    --heading-3: 2.75rem;
    --heading-4: 2rem;
    --gutter-1: 15rem;
    --gutter-2: 25rem;
    --spacing-1: 1rem;
    --spacing-2: calc(var(--spacing-1) * 2);
    --spacing-3: calc(var(--spacing-1) * 3);
    --spacing-4: calc(var(--spacing-1) * 4);
    --spacing-5: calc(var(--spacing-1) * 5);
    --spacing-6: calc(var(--spacing-1) * 6);
    --radius: 0.5rem;
    --easing: cubic-bezier(0.65, 0, 0.35, 1);
}

/* Type
   ========================================================================== */

@font-face {
    font-family: Lust;
    src: url(fonts/lust.woff2) format(woff2);
}

h2 {
    font-family: Lust, serif;
    font-size: var(--heading-2);
    text-rendering: geometricPrecision;
    font-weight: 200;
    line-height: 0.8;
    display: inline-block;
}

h3 {
    font-size: var(--heading-4);
    font-weight: 100;
    text-transform: uppercase;
}

p {
    max-width: 60ch;
}

a {
    color: var(--green);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--body);
    color: var(--black);
    line-height: 1.4;
}

nav a,
button a,
menu {
    font-family: Lust, serif;
    font-size: var(--label);
    color: var(--black) !important;
    text-decoration: none !important;
    margin: 0;
    line-height: 0.8;
    text-align: center;
}

menu li {
    padding: 0 0.75rem;
}

nav a {
    padding: 1rem;
}

/**
 * Hidden text
 */

h1 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
}

/* Document layout
   ========================================================================== */

/**
 * Normalize
 */

h1,
h2,
h3,
h4,
h5,
menu,
figure,
p,
button,
ol,
ul {
    margin: 0;
    padding: 0;
}

figure,
img,
video {
    display: block;
}

body {
    margin: 0;
}

main {
    display: block;
}

a {
    background-color: transparent;
}

b,
strong {
    font-weight: bolder;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/**
 * Backgrounds
 */

body {
    background-color: var(--black);
}

main,
header {
    background-color: var(--black);
    padding: var(--spacing-1);
}

section,
footer,
nav {
    background-color: var(--white);
}

/**
 * Borders
 */

footer,
section,
nav,
form,
button,
img,
video,
aside a {
    border-radius: var(--radius);
    border: 1px solid var(--black);
}

/**
 * Layout
 */

section {
    position: relative;
    scroll-margin: var(--spacing-3);
    margin-bottom: var(--spacing-1);
    padding-left: var(--gutter-1);
    z-index: 0;
}

.content_section {
    display: grid;
    grid-template-columns: var(--gutter-1) minmax(0, 1fr);
    column-gap: var(--spacing-3);
    padding-left: 0;
}

article {
    scroll-margin: var(--spacing-5);
    padding: 0 var(--gutter-2) var(--spacing-4) 0;
}

article:first-of-type {
    padding-top: var(--spacing-4);
}

#about-me article {
    padding-top: var(--spacing-6);
}

.content_section article:first-of-type {
    padding-bottom: var(--spacing-2);
}

menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: -1;
}

menu,
.track.is-right {
    padding-bottom: 10rem;
    z-index: 2;
}

.is-content {
    align-self: start;
}

.is-content,
menu li {
    position: sticky;
    top: 13rem;
}

menu li {
    list-style: none;
    height: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -7px;
    height: 3.5rem;
}

/**
 * Navigation
 */

header {
    position: fixed;
    padding-bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

nav {
    display: grid;
    grid-template-columns: var(--gutter-1) 1fr;
    border-radius: var(--radius) var(--radius) 0 0;
    min-height: var(--spacing-3);
    border-bottom: 0px;
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#menu li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#title {
    position: relative;
}

#menu,
#logo {
    transition: transform 500ms var(--easing);
}

#logo {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 9rem;
    min-width: 6.5rem;
}

/**
 * Inline spacing
 */

br {
    display: block;
    content: '';
    height: 1px;
    margin-bottom: 1em;
}

h2 {
    margin-bottom: 0.5em;
}

h3 {
    margin-bottom: 0.25em;
}

h4 {
    padding-top: 0.5em;
    margin-bottom: 0.5em;
}

h4:nth-of-type(n + 2) {
    padding-top: 2em;
}

p {
    margin-bottom: 1em;
}

figure {
    margin-bottom: 3em;
}

figcaption {
    margin-bottom: 1em;
}

button {
    margin: 1em 0;
}

/* Work functionality
   ========================================================================== */

.content_slider {
    position: relative;
    right: var(--spacing-3);
    padding-left: var(--spacing-3);
    width: calc(100% + var(--gutter-2));
    z-index: 1;
    cursor: grab;
    display: flex;
    gap: var(--spacing-2);
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    animation: none;
}

.content_slider > img:last-of-type {
    margin-right: var(--spacing-2);
}

.content_slider > img {
    max-width: 69%;
}

.content_slider.is-square > img {
    max-width: 24rem;
}

.content_slider::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.content_column {
    display: flex;
    gap: var(--spacing-2);
}

.content_column {
    flex-direction: column;
}

.content_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: var(--spacing-2);
}

/* Functionality
   ========================================================================== */

/**
 * Star track
 */

.track {
    display: flex;
    justify-content: space-around;
    position: absolute;
    background-color: var(--black);
}

.track_star {
    width: 1rem;
    height: 1rem;
    will-change: margin-right;
    transition: margin-right 500ms var(--easing);
    flex-shrink: 0;
    shape-rendering: geometricPrecision;
}

.track.is-bottom {
    height: 1px;
    bottom: 0;
    right: 0;
    left: 0;
    align-items: center;
}

.track.is-right {
    width: 1px;
    bottom: 0;
    top: 0;
    right: 0;
}

.track.is-right svg {
    transform: rotate(90deg);
}

#star {
    margin-right: 100%;
}

.track.is-right,
menu {
    padding-top: 1.5em;
}

menu:nth-of-type(2),
menu:nth-of-type(2) > .track.is-right,
menu.is-after-h3,
menu.is-after-h3 > .track.is-right {
    padding-top: 4em;
}

/**
 * Button
 */

button {
    background: var(--white);
    height: var(--spacing-3);
    padding-left: 1.25rem;
    cursor: pointer;
    transition: 300ms var(--easing);
    transition-property: padding-right, background-color, color, fill, border-color;
    color: var(--black);
    font-size: var(--body);
    overflow: hidden;
}

button svg {
    position: relative;
    bottom: 0px;
    left: 21px;
}

button a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

button:hover {
    padding-right: 2.5rem;
}

/**
 * Bottom controls
 */

aside {
    position: fixed;
    bottom: 0;
    right: var(--spacing-1);
    left: 0;
    margin: 0 auto;
    display: flex;
    gap: var(--spacing-1);
    justify-content: right;
    padding: var(--spacing-1);
    pointer-events: none;
    z-index: 100;
}

aside > a,
.contact_icons > a {
    position: relative;
    box-sizing: border-box;
    background: var(--white);
    width: 2.75rem;
    height: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    pointer-events: all;
}

aside > a > svg,
.contact_icons > a > svg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 400ms var(--easing);
}

.contact_icons {
    display: flex;
    gap: 2rem;
}

#dark-mode:hover {
    cursor: pointer !important;
}

#light-icon {
    transform: translateY(-100%);
}

#top {
    transform: rotate(180deg);
}

/**
 * Dark mode
 */

* {
    transition: 300ms var(--easing);
    transition-property: background-color, color, fill, border-color;
}

html {
    background: var(--black);
    border-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
p,
blockquote,
ol,
ul,
li {
    color: var(--black);
}

/**
 * Smooth scroll
 */

html {
    scroll-behavior: smooth !important;
}

/* Decorations
   ========================================================================== */

/**
 * Images and videos
 */

svg {
    fill: var(--black);
}

img,
video {
    max-width: 100%;
    height: auto;
    background-color: var(--white);
}

figcaption {
    display: flex;
    align-items: flex-end;
    color: var(--black);
    font-style: oblique;
}

#profile {
    position: relative;
    z-index: 10;
    font-size: var(--heading-2);
    width: 5.5em;
}

#business-card {
    height: 312px;
}

#capsule-video {
    width: 720px;
}

/**
 * Construction lines
 */

hr {
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px solid var(--green);
    opacity: 0.04;
    margin: 0;
    padding: 0;
}

section::after,
h2::after,
h3::after,
figcaption::after,
figure::after,
button::before,
button::after {
    min-width: 1px;
    min-height: 1px;
    position: absolute;
    background: var(--black);
    content: '';
    opacity: 0.04;
}

h2::after,
h3::after,
figcaption::after,
figure::after,
button::before,
button::after {
    left: 0;
    right: 0;
}

h2::after {
    transform: translateY(0.69em);
}

h3::after {
    transform: translateY(1.1em);
}

section::after {
    top: 0;
    bottom: 0;
}

section:not(.content_section)::after {
    left: var(--gutter-1);
}

.content_section::after {
    left: calc(var(--gutter-1) + var(--spacing-3));
}

figcaption::after {
    transform: translateY(1em);
}

/**
 * Text adjustments
 */

#about-me h2 {
    transform: translate(0.2em, 0.12em);
    margin-bottom: 0;
}

.content_section h2 {
    margin-left: calc(-1 * var(--spacing-3) - 0.169em);
}

#about-me figure {
    margin-top: 0 !important;
}

.about-me_profile {
    width: 24rem;
    max-width: 60vw;
}

/** 
 * Scrollbar
 */

html::-webkit-scrollbar {
    width: var(--spacing-1);
}

html::-webkit-scrollbar-track {
    background-color: inherit;
}

html::-webkit-scrollbar-thumb {
    border-right-style: inset;
    border-right-width: calc(100vw + 100vh);
    border-color: inherit;
    border-radius: var(--radius);
}

html::-webkit-scrollbar-button {
    background-color: inherit;
    height: var(--spacing-1);
}

/* DESKTOP
   ****************************************************************************/

@media screen and (min-width: 1440px) {
    /* Variables
   ========================================================================== */

    :root {
        --gutter-1: 16rem;
        --gutter-2: 40rem;
        --spacing-1: 1.125rem;
    }
}

/* TABLET
   ****************************************************************************/

@media screen and (max-width: 990px) {
    /* Variables
   ========================================================================== */

    :root {
        --gutter-1: 8rem;
        --gutter-2: 4rem;
        --label: 1.125rem;
        --heading-2: 3.5rem;
        --heading-3: 2.5rem;
        --heading-4: 1.75rem;
    }

    /* Document layout
   ========================================================================== */

    /**
     * Layout
     */

    aside {
        flex-direction: column-reverse;
        left: auto;
    }

    menu,
    .track.is-right {
        padding-bottom: 10rem;
    }
}

/* MOBILE LANDSCAPE
   ****************************************************************************/

@media screen and (max-width: 650px) {
    /* Variables
   ========================================================================== */

    :root {
        --gutter-1: 3.25rem;
        --gutter-2: var(--spacing-3);
        --spacing-1: 0.75rem;
        --label: 1rem;
        --heading-2: 3rem;
        --heading-3: 2rem;
        --heading-4: 1.5rem;
        --radius: 0.25rem;
    }

    /* Type
   ========================================================================== */

    footer {
        display: block;
        margin-bottom: 0;
        height: unset;
        padding: 1rem;
        text-align: center;
    }

    aside {
        display: none;
    }

    /* Document layout
   ========================================================================== */

    /**
     * Layout
     */

    #about-me article {
        padding-top: 10rem;
    }
    /**
     * Navigation
     */

    nav {
        grid-template-columns: 0px 1fr;
        height: var(--gutter-1);
    }

    #menu a {
        padding: 0;
    }

    #title {
        position: unset;
    }

    #logo {
        left: auto;
        right: auto;
        width: 10rem;
    }

    #menu {
        transform: translate(100%);
        margin: 0;
        animation: menu;
    }

    /* Work layout
   ========================================================================== */

    menu li,
    .track_star.is-content {
        top: 8rem;
    }

    menu li {
        transform: rotate(-90deg);
        min-width: 15ch;
    }

    .content_slider > img {
        max-width: 88%;
    }

    .content_slider.is-square > img {
        max-width: 69%;
    }

    /* Functionality
   ========================================================================== */

    /**
 * Button
 */

    button {
        background: var(--white);
        height: var(--gutter-1);
    }
}

/* MOBILE PORTRAIT
   ****************************************************************************/

@media screen and (max-width: 388px) {
    /* Variables
   ========================================================================== */

    :root {
        --gutter-1: 2.25rem;
        --spacing-1: 0.5rem;
        --body: 0.875rem;
        --label: 0.875rem;
        --heading-2: 2.25rem;
        --heading-3: 1.5rem;
        --heading-4: 1.125rem;
    }

    /* Document layout
   ========================================================================== */

    /**
     * Navigation
     */

    #logo {
        width: 8rem;
    }

    ::-webkit-scrollbar {
        width: 0.125rem;
    }

    h2 {
        padding-right: 4rem;
    }

    /* Work layout
   ========================================================================== */

    menu li,
    .is-content {
        top: 5rem;
        padding: 5rem 0;
    }
}
