/* Variables
   ========================================================================== */

:root {
    --heading-2: 2.5rem;
    --heading-3: 1.25rem;
    --button-offset: calc(var(--button-size) * 4.5);
    --hero-size: 100%;
}

/* Type
   ========================================================================== */

p:has(> img) {
    opacity: unset;
    max-width: unset;
}

menu span {
    margin-bottom: -0.1em;
    color: var(--blue);
    font-family: Lust, serif;
}

/* Document layout
   ========================================================================== */

/**
 * Header layout
 */

#title a {
    display: block;
    width: 100%;
}

.logo-track {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transition: var(--bg-transition);
    background-color: var(--black);
    height: 1px;
}

/**
 * Main
 */

section:first-of-type article {
    padding-bottom: var(--spacing-1);
}

/**
 * Inline spacing
 */

img:nth-last-child(n + 2) {
    margin-bottom: 1.5em;
}

p:has(> img) {
    margin-bottom: 2.5em;
}

blockquote {
    margin-top: 1em;
}

h2:not(h2:first-of-type) {
    margin-top: 1em;
}

/* Style
   ========================================================================== */

/**
 * Text adjustments
 */

h1 {
    translate: 0.2em 0.208em;
    margin-bottom: 0;
}

/* Functionality
   ========================================================================== */

/**
 * Star track
 */

.star-track {
    display: grid;
    position: absolute;
    right: 0;
    bottom: 0;
    left: -7px;
    grid-template-columns: 1rem 1fr 6fr;
    align-content: center;
    align-items: center;
    transition: 300ms background-color var(--easing);
    background-color: var(--black);
    height: 1px;
}

#star {
    shape-rendering: geometricPrecision;
    flex-shrink: 0;
    transition: margin-right var(--page-transition-time);
    will-change: margin-right;
    width: var(--star-size);
    height: var(--star-size);
}

#gradient,
#solid {
    height: 1px;
}

#gradient {
    background: linear-gradient(to right, var(--black), #09ae8f);
    width: 100%;
}

#solid {
    background-color: #09ae8f;
}

/* DESKTOP
   ****************************************************************************/

@media screen and (min-width: 1440px) {
    /* Variables
   ========================================================================== */

    :root {
        --heading-2: 3.5rem;
        --heading-3: 2.5rem;
    }
}

/* TABLET
   ****************************************************************************/

@media screen and (max-width: 990px) {
    /* Variables
   ========================================================================== */

    :root {
        --heading-1: 3rem;
        --heading-2: 2rem;
        --heading-3: 1.5rem;
    }

    section:first-of-type article {
        padding-top: 7rem;
    }
}

/* MOBILE LANDSCAPE
   ****************************************************************************/

@media screen and (max-width: 650px) {
    /* Variables
   ========================================================================== */

    :root {
        --heading-1: 2.25rem;
        --heading-2: 1.5rem;
        --heading-3: 1.125rem;
    }

    /* Type
   ========================================================================== */

    footer {
        display: block;
        margin-bottom: 0;
        padding: 1rem;
        height: unset;
        text-align: center;
    }

    /* Document layout
   ========================================================================== */

    /**
     * Navigation
     */

    .star-track {
        left: -8px;
    }
}

/* MOBILE PORTRAIT
   ****************************************************************************/

@media screen and (max-width: 388px) {
}
