/* Variables
   ========================================================================== */

:root {
    --heading-1: 4rem;
    --heading-2: 2.5rem;
    --heading-3: 1.25rem;
}

/* Type
   ========================================================================== */

h1 {
    display: inline-block;
    font-weight: 200;
    font-size: var(--heading-1);
    line-height: 0.8;
    font-family: Lust, serif;
    text-rendering: geometricPrecision;
}

h2 {
    display: inline-block;
    font-weight: 200;
    font-size: var(--heading-2);
    line-height: 0.8;
    font-family: Lust, serif;
    text-rendering: geometricPrecision;
}

h3 {
    font-weight: 100;
    font-size: var(--heading-3);
    text-transform: uppercase;
}

.figure {
    opacity: unset;
    max-width: unset;
}

menu li,
button a {
    margin: 0;
    font-size: var(--button-text);
    line-height: 0.8;
    font-family: Lust, serif;
    text-align: center;
    text-decoration: none !important;
}

menu span {
    color: var(--blue);
}

/* Document layout
   ========================================================================== */

/**
 * Header layout
 */

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    padding: var(--spacing-1) var(--spacing-1) 0 var(--spacing-1);
}

nav {
    display: grid;
    grid-template-columns: var(--gutter-1) 1fr;
    border-bottom: 0px;
    border-radius: var(--radius) var(--radius) 0 0;
    height: var(--spacing-3);
}

menu {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
}

#title {
    position: relative;
}

#title a {
    display: block;
    width: 100%;
}

menu,
#logo {
    transition: translate 500ms var(--easing);
}

.logo-track {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transition: var(--bg-transition);
    background-color: var(--black);
    height: 1px;
}

#logo {
    margin: 0 auto;
    padding: 0 1rem;
    min-width: 7rem;
    max-width: 10rem;
}

/**
 * Main layout
 */

main {
    padding: var(--spacing-1);
}

section {
    position: relative;
    z-index: 0;
    margin-bottom: var(--spacing-1);
    padding-left: var(--gutter-1);
    scroll-margin: var(--spacing-3);
}

section:first-of-type {
    display: flex;
    align-items: end;
    margin-top: calc(-1 * var(--spacing-5));
    padding: calc(var(--spacing-5) + var(--spacing-6)) var(--gutter-1) 0;
}

article {
    padding: var(--spacing-6) var(--gutter-2) var(--spacing-4) 0;
    scroll-margin: var(--spacing-5);
}

#hero {
    transition: 300ms var(--easing) border-color;
    margin-bottom: 0;
    border-bottom: 0px;
    border-color: var(--black);
    border-radius: var(--radius) var(--radius) 0 0;
    width: 100%;
}

/**
 * Inline spacing
 */

h1 {
    margin-right: 33%;
    margin-bottom: 0.75em;
}

h2 {
    margin-bottom: 0.75em;
    padding-top: 1em;
}

h3 {
    margin-bottom: 0.5em;
    padding-top: 0.5em;
}

p {
    margin-bottom: 1em;
}

img:nth-last-child(n + 2) {
    margin-bottom: 1.5em;
}

.figure {
    margin-bottom: 2.5em;
}

blockquote {
    margin-top: 1em;
}

button {
    margin: 1em 0;
}

/* Functionality
   ========================================================================== */

/**
 * Return button 
 */

.return-link .arrow {
    rotate: 90deg;
}

/**
 * Star track
 */

.star-track {
    display: grid;
    position: absolute;
    right: 0;
    bottom: 0;
    left: -7px;
    grid-template-columns: 1rem 1fr 6fr;
    align-content: center;
    align-items: center;
    transition: 300ms background-color var(--easing);
    background-color: var(--black);
    height: 1px;
}

#star {
    shape-rendering: geometricPrecision;
    flex-shrink: 0;
    transition: margin-right var(--page-transition-time);
    will-change: margin-right;
    width: var(--star-size);
    height: var(--star-size);
}

#gradient,
#solid {
    height: 1px;
}

#gradient {
    background: linear-gradient(to right, var(--black), #09ae8f);
    width: 100%;
}

#solid {
    background-color: #09ae8f;
}

/* DESKTOP
   ****************************************************************************/

@media screen and (min-width: 1440px) {
    /* Variables
   ========================================================================== */

    :root {
        --heading-2: 3.5rem;
        --heading-3: 2.5rem;
    }
}

/* TABLET
   ****************************************************************************/

@media screen and (max-width: 990px) {
    /* Variables
   ========================================================================== */

    :root {
        --heading-1: 3rem;
        --heading-2: 2rem;
        --heading-3: 1.5rem;
    }

    /* Document layout
   ========================================================================== */

    /**
     * Hero image
     */

    section:first-of-type {
        margin-top: calc(-1 * var(--spacing-5));
        padding: calc(var(--spacing-5) + var(--spacing-5)) var(--gutter-1) 0;
    }
}

/* MOBILE LANDSCAPE
   ****************************************************************************/

@media screen and (max-width: 650px) {
    /* Variables
   ========================================================================== */

    :root {
        --heading-1: 2.25rem;
        --heading-2: 1.5rem;
        --heading-3: 1.125rem;
    }

    /* Type
   ========================================================================== */

    footer {
        display: block;
        margin-bottom: 0;
        padding: 1rem;
        height: unset;
        text-align: center;
    }

    /* Document layout
   ========================================================================== */

    /**
     * Layout
     */

    article {
        padding-top: 10rem;
    }
    /**
     * Navigation
     */

    nav {
        grid-template-columns: 0px 1fr;
        height: var(--gutter-1);
    }

    menu a {
        padding: 0;
    }

    #title {
        position: unset;
    }

    #logo {
        right: auto;
        left: auto;
        width: 10rem;
    }

    menu {
        translate: 100%;
        animation: menu;
        margin: 0;
    }
    .star-track {
        left: -8px;
    }

    /**
     * Hero image
     */

    section:first-of-type {
        margin-top: calc(-1 * var(--spacing-5));
        padding: calc(var(--spacing-5) + 9.5rem) var(--gutter-1) 0;
    }

    /* Decorations
   ========================================================================== */

    /*
     * Construction lines
     */

    section:first-of-type::after {
        top: 0;
        bottom: 0;
        left: var(--spacing-2);
    }
}

/* MOBILE PORTRAIT
   ****************************************************************************/

@media screen and (max-width: 388px) {
}
