.arrow-symbol {
  width: 16px;
  height: 16px;
}

.logo-symbol {
  width: 300px;
  height: 300px;
}

.moon-symbol {
  width: 16px;
  height: 16px;
}

.star-symbol {
  width: 16px;
  height: 16px;
}

.sun-symbol {
  width: 16px;
  height: 16px;
}

